  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background-color: #0d3b70; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 24px;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 16px;
  }

  .inner-content {
    padding: 42px;
    background: #fff;
    min-height: 100vh;
  }

  .menu-title{
    font-size: 32px;
    margin: 16px 16px;
  }

  nz-footer {
    text-align: center;
  }

  ::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
  }

  .header-title{
    color: white;
    margin-top: 6px;
  }

  .confirmWording{
    font-size: 20px;
    text-align: center;
  }
  
  @media screen and (max-width: 600px){
    .header-title{
      color: white;
      font-size: 18px;
      margin-top: 10px;
    }

    .menu-title{
      font-size: 28px;
      margin: 16px 16px;
    }

    .confirmWording{
      text-align: center;
      font-size: 12px;
    }

    .inner-content {
      padding: 6px;
      background: #fff;
      min-height: 100vh;
    }
  }