<nz-modal [(nzVisible)]="isLogOut" nzWrapClassName="vertical-center-modal" 
nzClosable = "false" nzTitle="LogOut" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <h2 class="confirmWording">{{nameUser}}, Are You Want to Logout?</h2>
</nz-modal>
<nz-layout>
    <nz-layout>
      <nz-header >
        <h2 class="header-title">Employee Management {{innerWidth < 600 ? '' : 'Web Application'}}</h2>
        <button nz-button nzType="default" (click)="signOut()">
          <i nz-icon nzType="logout" nzTheme="outline"></i>
          Logout
        </button>
      </nz-header>
      <nz-content>
        <h2 class="menu-title">{{menuTitle}}</h2>
        <nz-breadcrumb style="font-size: 18px;">
          <nz-breadcrumb-item *ngFor="let item of breadCrumbData">
            <a *ngIf="item.link !== ''" [routerLink]="item.link">{{ item.name }}</a>
            <span *ngIf="breadCrumbData.length === 1" >/&nbsp;</span>
            <span *ngIf="item.link === ''">{{ item.name }}</span>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-content class="inner-content">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>