.page-numbering{
    display: flex;
    align-items: center;
}

.header-actions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
}

@media screen and (max-width: 600px){
    .header-actions{
        display: block;
        flex-wrap: wrap;
    }
}