<div>
    <div class="page-numbering">
        <span>Page Number:</span>&nbsp;&nbsp;
        <nz-select [(ngModel)]="selectedPageNumber" style="width: 100px;">
            <nz-option *ngFor="let item of numberingPage" [nzValue]="item" [nzLabel]="item"></nz-option>
        </nz-select>&nbsp;&nbsp;
        <input nz-input placeholder="Search..." [(ngModel)]="searchValue" style="width: 500px;" />&nbsp;&nbsp;
        <button nz-button nzType="primary">Filter</button>
    </div>
</div>
<br />
<nz-table #employeeTable [nzData]="listOfEmployee">
    <thead>
        <tr>
            <th>Status</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>Group</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of employeeTable.data">
        <td>{{ data?.status }}</td>
        <td>{{ data?.username }}</td>
        <td>{{ data?.lastname }}</td>
        <td>{{ data?.email }}</td>
        <td>{{ data?.group }}</td>
        <td>{{ data?.description }}</td>
        </tr>
    </tbody>
</nz-table>
