<div class="header-actions">
    <div class="page-numbering">
        <span>Page Number:</span>&nbsp;&nbsp;
        <nz-select [(ngModel)]="selectedPageNumber" style="width: 100px;">
            <nz-option *ngFor="let item of numberingPage" [nzValue]="item" [nzLabel]="item"></nz-option>
        </nz-select>&nbsp;&nbsp;
        <input nz-input placeholder="Search Employees..." [(ngModel)]="searchValue" style="width: 500px;" />&nbsp;&nbsp;
        <button nz-button nzType="primary">Filter</button>
    </div>
    <div>
        <button nz-button nzType="primary" (click)="actionClick(null)">Add Employee</button>
    </div>
</div>
<br />
<nz-table #employeeTable [nzData]="listOfEmployee">
    <thead>
        <tr>
            <th nzAlign="center">No</th>
            <th nzAlign="center">Actions</th>
            <th>Status</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>Group</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of employeeTable.data; index as i">
        <td nzAlign="center">{{i + 1}}</td>
        <td style="display: flex; align-items: center;">
            <button nz-button nzType="primary" (click)="actionClick(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></button>&nbsp;
            <button nz-button nzType="danger" (click)="delete()"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
        </td>
        <td>{{ data?.status }}</td>
        <td>{{ data?.username }}</td>
        <td>{{ data?.firstname }}</td>
        <td>{{ data?.lastname }}</td>
        <td>{{ data?.email }}</td>
        <td>{{ data?.group }}</td>
        <td>{{ data?.description | date: "fullDate" }}</td>
        </tr>
    </tbody>
</nz-table>
